---
import ContentCard from "./ContentCard.astro";

interface Props {
  title?: string;
  heading?: string;
  body?: string;
}

const { title, heading ,body } = Astro.props;
---

<div>
  <div class="border-darkslate-200 bg-darkslate-500 rounded-xl m-1 border-2 p-6 hover:border-cyan-300 transition-colors duration-300">
    <h3 class=" p-1 text-xl text-sky-300">{heading}</h3>
    <div class="text-base leading-relaxed">
      <ContentCard title={title} body={body}>
        <slot />
      </ContentCard>
    </div>
  </div>
</div>
