---
import Button from '../Button.astro'

interface Props {
  project?: string;
  description?: string;
  stack?: string;
  link?: string;
}

const { project, description, stack, link } = Astro.props;
---

<div class="border-darkslate-200 border-2  hover:border-cyan-300 transition-colors duration-300 rounded-2xl p-2 my-2">
  <p class="text-sky-200 text-xl m-1">{project}</p>
  <p class="m-1 text-gray-200">{description}</p>
  <p class="text-cyan-300 m-1">Tech Stack: {stack}</p>
  <div class="m-1">
    <Button><a href={link}><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" height="15px" width="15px" class="m-2 mx-4" style="filter:invert(1);"/></a></Button>
  </div>
</div>