---
import Layout from '../layouts/Layout.astro';
import Grid from '../components/Grid.astro';
import ContentCard from '../components/Cards/ContentCard.astro';
import IndexCard from '../components/Cards/IndexCard.astro'
import DeckContainer from '../components/DeckContainer.astro';
import Button from '../components/Button.astro';
---
<!-- Add this in your HTML file -->
<div class="w-full h-full bg-black" style="--gap: 5em; --line: 1px; --color: rgba(255, 255, 255, 0.2); background-image: linear-gradient(-90deg, transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap)), linear-gradient(0deg, transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap)); background-size: var(--gap) var(--gap);">
<Layout title="Aditya's Portfolio">
	<div class="flex justify-center items-center">
		<main class="max-w-6xl">
			<DeckContainer/>
		</main>
	</div>
</Layout>
</div>

