---
import Layout from '../layouts/Layout.astro';
import Grid from '../components/Grid.astro';
import ContentCard from '../components/Cards/ContentCard.astro';
import IndexCard from '../components/Cards/IndexCard.astro'
import DeckContainer from '../components/DeckContainer.astro';
import Button from '../components/Button.astro';
---

<Layout title="Aditya's Portfolio">
	<div class="flex justify-center items-center">
		<main class="max-w-6xl">
			<DeckContainer/>
		</main>
	</div>
</Layout>


