<div>
  <button class="relative border-none text-lg font-bold bg-white rounded-lg  transition-transform duration-100 m-2 ">
    <span class="block border-2 border-white rounded-lg bg-darkslate-400 text-black transform -translate-y-1 transition-transform duration-100  active:translate-y-0">
      <slot/>
    </span>
  </button>
</div>