---
import EasterEgg from './EasterEgg'
---

<div class="border-darkslate-200 bg-gray-400 rounded-xl border-2 p-2 hover:border-cyan-300 transition-colors duration-300">
  <div class="flex justify-center m-5">
    <button>
      <img src="/marshmallow.png" height="100px" width="100px" class="animate-spin duration-1000"/>
    </button>
  </div>
</div> 
