---
import IndexCard from './Cards/IndexCard.astro';
import Button from './Button.astro';
import ProjectCard from './Cards/ProjectCard.astro';
import ProfileCard from './Cards/ProfileCard.astro';
import Index from '../pages/index.astro';
import CentralButton from './CentralButton.astro';
---

<div class="px-1 py-3  mx-11">
  <div class="grid grid-cols-7  gap-4 grid-rows-subgrid flex-wrap">
    <div class="col-span-5 row-span-1">
      <IndexCard   title="Yo I am Aditya Kamble." body='I like playing Chess for a change of pace & I am a CSE undergrad from NITC who primary works on software development and tinkering around with random programs.' heading="Domain Expansion Aditya's Portfolio">
        <div class="flex flex-row "></div>
        <br/>
        <div class="mt-2 p-1 flex flex-row">
          <Button><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" height="25px" width="25px" class="m-2 mx-4 p-0.5" style="filter:invert(1);"/></Button>
          <Button><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg" height="25px" width="25px" class="m-2 mx-4 p-0.5" style="filter:invert(1);"/></Button>
          <Button><p class="text-xs font-normal my-3 mx-2 text-white">Resume</p></Button>
        </div>
      </IndexCard>
    </div>
    <div class="col-span-2 row-span-2 text-white font-light">
      <IndexCard title='My Stack' body='& tools.'>
        <p class="my-5">I primarily work with the following languages, frameworks, databases and tools.</p>
        <ul class="list-inside">
          <li><a class="font-extrabold">></a> C, C++, Rust, Javascript, Python</li>
          <li><a class="font-extrabold">></a> Astro</li>
          <li><a class="font-extrabold">></a> ReactJs</li>
          <li><a class="font-extrabold">></a> PostgreSQL</li>
          <li><a class="font-extrabold">></a> Tailwind</li>
          <li><a class="font-extrabold">></a> Docker</li>
          <li><a class="font-extrabold">></a> Git</li>
        </ul>
        <br/>
      </IndexCard>
    </div>
    <div class="col-span-4 row-span-2">
      <IndexCard title='Projects' body='Here are some of the projects I have worked upon:'>
        <div class="h-64 overflow-y-auto">
          <ul class="list-inside">
            <li class="m-2">
              <ProjectCard project="UniVerse" description='UniVerse is an anonymous threads posting app for college communities based on college id verification' stack='ReactJs, ViteJS, PostgreSQL, NodeJs, Javascript'></ProjectCard>
            </li>
            <li class="m-2">
              <ProjectCard project='Rust Shell' description='Am implementation of Bash Shell written entirely in Rust.' stack="Rust"></ProjectCard>
            </li>
          </ul>
        </div>
      </IndexCard>
    </div>
    <div class="col-span-1 row-span-1">
      <div class="my-1">
        <CentralButton/>
      </div>
    </div>
    <div class="col-span-3 row-span-3 m-1">
      <div class="border-darkslate-200 bg-darkslate-500 rounded-xl border-2 p-6 hover:border-cyan-300 transition-colors duration-300">
        <h3 class="font-medium text-lg text-white mb-2">Let's Connect</h3>
        <div class="flex flex-col m-1">
          <h4 class="text-gray-700 text-lg">Contact Details</h4>
          <p>kambleaditya946@gmail.com</p>
        </div>
      <div class="flex flex-col m-1">
        <h4 class="text-lg text-gray-700">Socials</h4>
        <p> <a class="font-extrabold">></a> Github</p>
        <p> <a class="font-extrabold">></a> LinkedIn</p>
      </div>
    </div>
    </div>
  </div>
</div>